<%= form_with model: profile, multipart: true, data: { turbo: false }, class: "w-full max-w-lg space-y-6" do |form| %>
  <!-- Name Field -->
  <div>
    <%= form.label :name, "Full Name", class: "block text-sm font-semibold" %>
    <%= form.text_field :name,
                    required: true,
                    class:
                      "w-full mt-2 px-3 py-2 border rounded-md text-sm #{"border-red-600" if profile.errors[:name].present?}" %>
    <% if profile.errors[:name].present? %>
      <p class="mt-1 text-red-600 text-xs"><%= profile.errors[:name].join(", ") %></p>
    <% end %>
  </div>
  <!-- Username Field -->
  <div>
    <%= form.label :username, "Username", class: "block text-sm font-semibold" %>
    <%= form.text_field :username,
                    required: true,
                    class:
                      "w-full mt-2 px-3 py-2 border rounded-md text-sm #{"border-red-600" if profile.errors[:username].present?}" %>
    <% if profile.errors[:username].present? %>
      <p class="mt-1 text-red-600 text-xs"><%= profile.errors[:username].join(", ") %></p>
    <% end %>
  </div>
  <!-- Bio Field -->
  <div>
    <%= form.label :bio, "Bio", class: "block text-sm font-semibold", required: true %>
    <%= form.text_area :bio,
                   class:
                     "w-full mt-2 px-3 py-2 border rounded-md text-sm #{"border-red-600" if profile.errors[:bio].present?}",
                   rows: 4 %>
    <% if profile.errors[:bio].present? %>
      <p class="mt-1 text-red-600 text-xs"><%= profile.errors[:bio].join(", ") %></p>
    <% end %>
  </div>
  <!-- Avatar Upload -->
  <div>
    <%= form.label :avatar,
               "Profile Picture (Optional)",
               class: "block text-sm font-semibold" %>
    <%= form.file_field :avatar,
                    accept: "image/*",
                    class:
                      "w-full mt-2 text-sm file:mr-4 file:py-2 file:px-4 file:rounded file:border file:border-gray-300 file:text-white hover:file:bg-neutral-800 cursor-pointer" %>
    <% if profile.avatar.attached? %>
      <div class="mt-2">
        <img
          src="<%= url_for(profile.avatar) %>"
          alt="Profile Picture"
          class="w-20 h-20 rounded-full object-cover"
          title="<%= profile.username %>"
        >
      </div>
    <% end %>
  </div>
  <!-- Submit Button -->
  <div class="flex flex-wrap justify-between gap-4">
    <%= form.submit "Update Profile",
                class:
                  "px-8 py-3 font-semibold text-sm rounded-md text-gray-900 bg-white hover:bg-neutral-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-600" %>

    <% unless profile.new_record? %>
      <%= button_to "Cancel",
      current_user_profile_path,
      method: :get,
      class:
        "px-8 py-3 font-semibold text-sm text-white rounded-md bg-red-800 hover:bg-red-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-900" %>
    <% end %>
  </div>
<% end %>
