<div class="min-h-screen flex">
  <!-- Left side - Hero Image -->
  <%= render "shared/left_side" %>
  <!-- Right side - Auth Section -->
  <div class="w-full md:w-1/2 flex flex-col p-8 md:p-12 justify-center">
    <div class="max-w-md w-full mx-auto space-y-8">
      <!-- Logo -->
      <%= render "shared/logo" %>
      <!-- Heading -->
      <h1 class="text-5xl font-bold mb-8">
        Happening now
      </h1>
      <h2 class="text-3xl font-bold mb-8">
        Join OdinBook today.
      </h2>
      <!-- Auth Buttons -->
      <div class="space-y-4">
        <%= render "shared/omniauth_buttons", type: "signup" %>

        <a
          href="<%= rodauth.create_account_path %>"
          class="
            block text-center w-full bg-blue-500 text-white px-6 py-2 rounded-full
            hover:bg-blue-600 transition-colors
          "
        >
          Create account
        </a>
      </div>
      <!-- Terms -->
      <%= render "shared/terms_and_privacy" %>
      <!-- Sign in section -->
      <div class="mt-8">
        <h3 class="font-medium mb-4">Already have an account?</h3>
        <a
          href="<%= rodauth.login_path %>"
          class="
            block text-center w-full border border-blue-500 text-blue-500 px-6 py-2
            rounded-full hover:bg-blue-50 transition-colors
          "
        >
          Sign in
        </a>
      </div>
    </div>
  </div>
</div>
