<div class="min-h-screen flex">
  <!-- Left side - Hero Image -->
  <%= render "shared/left_side" %>
  <!-- Right side - Login Section -->
  <div class="w-full md:w-1/2 flex flex-col p-8 md:p-12 justify-center">
    <div class="max-w-md w-full mx-auto space-y-8">
      <!-- Logo -->
      <%= render "shared/logo" %>
      <!-- Heading -->
      <h1 class="text-3xl font-bold">
        Sign in to OdinBook
      </h1>
      <!-- Auth Buttons -->
      <div class="space-y-4">
        <%= render "shared/omniauth_buttons", type: "login" %>
        <!-- Rodauth Login Form -->
        <%= form_with url: rodauth.login_path, method: :post, data: { turbo: false, controller: "password-visibility" }, class: "space-y-4" do |form| %>
          <% if rodauth.skip_login_field_on_login? %>
            <div>
              <%= form.label "login", rodauth.login_label, class: "block text-sm font-medium mb-1" %>
              <%= form.email_field rodauth.login_param,
                               value: params[rodauth.login_param],
                               id: "login",
                               readonly: true,
                               class:
                                 "w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
            </div>
          <% else %>
            <div>
              <%= form.label "login", rodauth.login_label, class: "block text-sm font-medium mb-1" %>
              <%= form.email_field rodauth.login_param,
                               value: params[rodauth.login_param],
                               id: "login",
                               autocomplete: rodauth.login_field_autocomplete_value,
                               required: true,
                               class:
                                 "w-full px-4 py-2 border rounded-lg #{rodauth.field_error(rodauth.login_param) ? "border-red-600 focus:ring-red-600 focus:border-red-600" : "border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"}",
                               placeholder: "name@example.com",
                               aria:
                                 (
                                   if rodauth.field_error(rodauth.login_param)
                                     { invalid: true, describedby: "login_error_message" }
                                   else
                                     {}
                                   end
                                 ) %>
              <%= if rodauth.field_error(rodauth.login_param)
                content_tag(
                  :span,
                  rodauth.field_error(rodauth.login_param),
                  class: "block mt-1 text-red-600 text-xs",
                  id: "login_error_message",
                )
              end %>
            </div>
          <% end %>

          <% unless rodauth.skip_password_field_on_login? %>
            <div>
              <%= form.label "password",
                         rodauth.password_label,
                         class: "block text-sm font-medium mb-1" %>
              <%= form.password_field rodauth.password_param,
                                  data: {
                                    password_visibility_target: "password",
                                  },
                                  value: "",
                                  id: "password",
                                  autocomplete: rodauth.password_field_autocomplete_value,
                                  required: true,
                                  class:
                                    "w-full px-4 py-2 border rounded-lg #{rodauth.field_error(rodauth.password_param) ? "border-red-600 focus:ring-red-600 focus:border-red-600" : "border-gray-300 focus:ring-2 focus:ring-blue-500 focus:border-blue-500"}",
                                  aria:
                                    (
                                      if rodauth.field_error(rodauth.password_param)
                                        {
                                          invalid: true,
                                          describedby: "password_error_message",
                                        }
                                      else
                                        {}
                                      end
                                    ) %>
              <%= if rodauth.field_error(rodauth.password_param)
                content_tag(
                  :span,
                  rodauth.field_error(rodauth.password_param),
                  class: "block mt-1 text-red-600 text-xs",
                  id: "password_error_message",
                )
              end %>
            </div>
          <% end %>

          <div class="flex items-center justify-between">
            <%= render "show_password" %>
            <a
              href="<%= rodauth.reset_password_request_path %>"
              class="text-sm text-blue-500 hover:text-blue-600"
            >Forgot password?</a>
          </div>

          <%= form.submit rodauth.login_button,
                      class:
                        "w-full bg-blue-500 text-white px-6 py-2 rounded-full hover:bg-blue-600 transition-colors" %>
        <% end %>
      </div>
      <!-- Sign up and Account verification section -->
      <div class="mt-8">
        <h3 class="text-sm text-gray-400">
          Don't have an account?
          <a
            href="<%= rodauth.create_account_path %>"
            class="text-blue-500 hover:text-blue-600"
          >Sign up</a>
        </h3>
        <h3 class="text-sm text-gray-400">
          Didn't receive the verification email?
          <a
            href="<%= rodauth.verify_account_resend_path %>"
            class="text-blue-500 hover:text-blue-600"
          >Resend instructions</a>
        </h3>
      </div>
    </div>
  </div>
</div>
