<div class="min-h-screen flex">
  <!-- Left side - Hero Image -->
  <%= render "shared/left_side" %>
  <!-- Right side - Reset Password Section -->
  <div class="w-full md:w-1/2 flex flex-col p-8 md:p-12 justify-center">
    <div class="max-w-md w-full mx-auto space-y-8">
      <!-- Logo -->
      <div class="text-center">
        <%= render "shared/logo" %>
      </div>
      <!-- Heading -->
      <h1 class="text-3xl font-bold text-center">
        Reset Your Password
      </h1>
      <p class="text-sm dark:text-gray-300">
        <%== rodauth.reset_password_explanatory_text %>
      </p>
      <%= form_with url: rodauth.reset_password_request_path, method: :post, data: { turbo: false }, class: "space-y-6" do |form| %>
        <% if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param) %>
          <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
        <% else %>
          <div>
            <%= form.label "login",
                       rodauth.login_label,
                       class: "block text-sm font-medium  mb-1" %>
            <%= form.email_field rodauth.login_param,
                             value: params[rodauth.login_param],
                             id: "login",
                             autocomplete: "email",
                             required: true,
                             class:
                               "w-full px-4 py-2 border rounded-lg #{rodauth.field_error(rodauth.login_param) ? "border-red-600 focus:ring-red-600" : "border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-700 dark:focus:ring-emerald-400"}",
                             aria:
                               (
                                 if rodauth.field_error(rodauth.login_param)
                                   { invalid: true, describedby: "login_error_message" }
                                 else
                                   {}
                                 end
                               ) %>
            <%= if rodauth.field_error(rodauth.login_param)
              content_tag(
                :span,
                rodauth.field_error(rodauth.login_param),
                class: "block mt-1 text-red-600 text-xs",
                id: "login_error_message",
              )
            end %>
          </div>
        <% end %>
        <%= form.submit rodauth.reset_password_request_button,
                    class:
                      "w-full bg-blue-500 text-white px-6 py-2 rounded-full hover:bg-blue-600 transition-colors" %>
      <% end %>
      <%= render "back_to_login" %>
    </div>
  </div>
</div>
