<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "OdinBook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black text-white h-full w-full">
    <% if rodauth.logged_in? %>
      <main class="container">
        <%= render "shared/page_sidebar" %>
        <section class="content-section <%= border_separator_color %> border-l border-r p-8">
          <%= yield %>
        </section>
        <%= render "shared/right_sidebar" %>
      </main>
    <% else %>
      <main>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
